<div class='post'>
  <h2><%= link_to post.title, post %></h2>
  <div class='postcontent'><%=raw post.content %></div>
  <div class='pull-right'><%= link_to pluralize(post.comments.count, 'comment'), post %></div>
</div>
